/* "HOJA DE ESTILO CSS DE MI PRIMER BLOG EN PYTHON/DJANGO" */


/* COLOR DE FONDO DEL BLOG ----------------------------------------------------------- */

body {
	background: #FFF;
}

/* IMAGEN DE LA CABECERA ----------------------------------------------------- */

.imgRedonda {

    border-radius:150px;
}

/* IMÁGENES DE PUBLICACIONES ------------------------------------------------------------ */

.post-text img {
	display:block;
	margin:auto;
	width: 50%;
	height: auto;
}

/* TEXTO DE LAS PUBLICACIONES ----------------------------------------------------------- */

.post-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.post-text a, .post-text a:visited {
	color: #007bff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

/* TAMAÑO DE LOS TÍTULOS ----------------------------------------------------------- */

.titles {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: bold;
}

.titles-list a, .titles-list a:visited {
	color: #007bff;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	/*text-transform: uppercase;*/
}

.titles-list {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
}

.titles-list a:hover {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	/*text-transform: uppercase;*/
}

/* ESTILO DE LOS H1, H2, H3, H4, H5, H6 ----------------------------------------------- */

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: bold;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: bold;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

/* BARRA DE NAVEGACIÓN -------------------------------------------------------------- */

.navbar {
	padding-bottom: 15px;
	padding-top: 15px;
}

.navbar-brand {
	padding-left: 5px;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}

.bg-white {
	background: #FFF;
}

.nav-link {
	font-family: 'Open Sans', sans-serif;
}

/* ESTILO DE FECHAS DE PUBLICACIONES ----------------------------------------------- */

.date {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}

/* COMENTARIOS ---------------------------------------------------- */

.ComentariosText {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	}

.comment-text {
    padding-left: 100px;
    padding-bottom: 20px;
}

/* JUMBOTRON --------------------------------------------------------------- */

.jumbotron {
	background: #FFFFFF;
	padding-top: 0px;
}

/* OTROS --------------------------------------------------------------- */

.post-form textarea, .post-form input {
	width; 100%;
}

.post-form {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.save {
	float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
	color: #FFFFFF;
	float: right;
	font-size: 26px;
	margin-right: 20px;
}
