{% extends 'blog/base.html' %}

{% block content %}
<div class="titles"><p>Acerca de</p></div>

    <p class="javier-lead">Hola, mi nombre es Javier Ledesma soy de un pequeño pueblo situado al sur de una provincia Argentina de nombre Santa Fe. En la actualidad me encuentro tratando de aprender Python, HTML, y CSS.</p>

    <div align="center">  
    <img src="https://arglinux.pythonanywhere.com/static/images/imgposts/estacion_carreras.jpg" width="75%" height="auto" class="mr-3" alt="La vieja estación de ferrocarril." class="center">
</div>    
   <br/>
    <p class="javier-lead"><b>Sólo estoy probando, tratando de aprender y de ver como funciona todo esto.</b></p>
{% endblock %}
