{% extends 'blog/base.html' %}

{% block content %}
<div class="titles"><p>Acerca de</p></div>

<p class="texto-blog">Hola, mi nombre es <a href="https://www.instagram.com/javi.snm/" target="_blank"><b>Javier Ledesma</b></a> soy de un pequeño pueblo situado al sur de una provincia Argentina de nombre Santa Fe. <b>Bienvenidos a mi primer blog personal creado usando Python, Django, HTML, y CSS.</b> Es un blog pensado principamente para reliazar pruebas y así, intentar entender un poco mejor como funciona un lenguaje de programación como Python.</p>

<p class="texto-blog"><b>¡La idea es aprender y compartir!</b> Voy a ir dejando el código de algunos ejercicios básicos para ver el funcionamiento de Python, más alguna información al respecto, y enlaces de interés, herramientas, etc.</p>

{% endblock %}
