{% extends 'blog/base.html' %}

{% block content %}
<div class="titles"><p>Información</p></div>

<p class="javier-lead"><b>Python es</b> un lenguaje de programación de alto nivel, multipropósito, multiplataforma, interpretado, de código abierto, con soporte de primer nivel para programación funcional y orientada a objetos, y muchas otras felices características.</p>

<p class="javier-lead">Y prueba de ello es la popularidad de la que se ha valido en los últimos años. <b>Es utilizado por las empresas más grandes del rubro de la tecnología</b>, en áreas tales como desarrollo de aplicaciones web, aplicaciones de escritorio, scripting, networking, inteligencia artificial y automatización.</p>

<p class="javier-lead"><b>Su sintaxis simple y clara</b> lo hace ideal para aquellos que se acercan por vez primera al mundo de la programación. Además, como dijimos, <b>es de código abierto, libre y gratuito.</b> Mantenido por una comunidad de desarrolladores de todo el mundo. ¡Cualquiera que esté interesado en colaborar puede hacerlo!</p>

<div class="titles"><p>Enlaces sobre Python (ayuda, ejercicios, tutoriales)</p></div>

<p><b>* Welcome to Python: <a href="https://j2logo.com/" target="_blank">https://www.python.org/</a></b></p>

<p><b>* Recursos Python: <a href="https://recursospython.com/" target="_blank">https://recursospython.com/</a></b></p>

<p><b>* MCLibre: <a href="https://www.mclibre.org/" target="_blank">https://www.mclibre.org/</a></b></p>

<p><b>* J2Logo: <a href="https://j2logo.com/" target="_blank">https://j2logo.com/</a></b></p>

{% endblock %}
