/* "HOJA DE ESTILO CSS DE MI PRIMER BLOG EN PYTHON/DJANGO" */


/* COLOR DE FONDO DEL BLOG ----------------------------------------------------------- */

body {
	background: #FFF;
}

/* IMÁGENES DE PUBLICACIONES ------------------------------------------------------------ */

.post-text img {
	display:block;
	margin:auto;
	width: 50%;
	height: auto;
}

/* TEXTO DE LAS PUBLICACIONES ----------------------------------------------------------- */

.post {
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
}

.post h2 a, .post h2 a:visited {
	color: #BLUE;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	/*text-transform: uppercase;*/
}

.h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
}

.post h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
}

.post-detail h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: bolder;
}

.post h2 a:hover {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	/*text-transform: uppercase;*/
}

.post-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

/* IMAGEN DE LA CABECERA ----------------------------------------------------- */

.imgRedonda {

    border-radius:150px;
}

/* TAMAÑO DE LOS TÍTULOS ----------------------------------------------------------- */

.about-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: bold;
}

.javier-display-4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
}

.javier-lead {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

/* BARRA DE NAVEGACIÓN -------------------------------------------------------------- */

.navbar {
	padding-bottom: 15px;
	padding-top: 15px;
}

.navbar-brand {
	padding-left: 5px;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}

.bg-white {
	background: #FFF;
}

.nav-link {
	font-family: 'Open Sans', sans-serif;
}

/* ESTILO DE FECHAS DE PUBLICACIONES ----------------------------------------------- */

.date {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}

/* COMENTARIOS ---------------------------------------------------- */

.ComentariosText {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	}

/* JUMBOTRON --------------------------------------------------------------- */

.jumbotron {
	background: #FFFFFF;
	padding-top: 0px;
}

/* OTROS --------------------------------------------------------------- */

.post-form textarea, .post-form input {
	width; 100%;
}

.post-form {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.save {
	float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
	color: #FFFFFF;
	float: right;
	font-size: 26px;
	margin-right: 20px;
}
